body {
	padding-left: 10px;
}

.header_area{
	position: relative;
}

.header_main_area{
	
}

.header_login_area{
	
	position: absolute;
	top: -10px;
    right: 10px;
}

.header_login_area a{
	color: #888;
	text-decoration: none;
}

.article_area{
	 padding-bottom: 50px;
}

.index_main_img{
	padding-right: 10%;
    padding-left: 10%;
}
.footer_area{

}
.start_btn{
	/*float: left;
    position: relative;*/
    position: fixed;
    bottom: 3px;
    right: 10px;
    left: 10px;

    border: thin solid black;
    padding: 10px;
    padding-left: 40%;
    padding-right: 40%;
    border-radius: 8px;
    background-color: white;
}

.footer_area a{
	text-decoration: none;
	color : black;
}